body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

h2 {
    float : right;
}

h3 {
    float : right;
    clear : right;
}


.hidden {
    display: none;
  }

  